@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 0vh;
    background-color: #010000;
    padding: 60px 0;
}
body {
  background-color: #141C29;
  font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}
.menu-1 {
    margin-right: 180px;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}
.logo-2 {
    width: 150px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB2418;
    border-radius: 50%;
}

.social:hover {
      background-color: #DB2418;
}

.social img {
   margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}


.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color:#ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #DB2418;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.presentation {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: center;
  }
  
  .person {
    max-width: 400px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .person img {
    width: 70%;
    border-radius: 8px;
  }

  .person img:hover {
    transform: scale(1.1) translateY(-10px);
  }


  .personaAngel img{
    width: 70%;
    border-radius: 8px;
  }

  .personaAngel img:hover{
    transform: scale(1.1) translateY(-10px);
  }


  .personaArialdy img{
    width: 70%;
    border-radius: 8px;
  }

  .personaArialdy img:hover{
    transform: scale(1.1) translateY(-10px);
    
  }
 
  .personaluis img{
    width: 70%;
    border-radius: 8px;
  }

  .personaluis img:hover{
    transform: scale(1.1) translateY(-10px);
  }
  .pesonageral img{
    width: 53%;
    border-radius: 8px;
  }
  .pesonageral img:hover{
    transform: scale(1.1) translateY(-10px);
  }

  .pers {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: center;
    
  }

  
  .person h3 {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
  }
  
  .person p {
   font-family:'Oswald', sans-serif;
    font-size: 30px;
    color: #DB2418;
    
  }
  

  .footer {
    padding: 50px 0;
    background-color: #111111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

